@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*NAVBAR*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: crimson;
  font-family: "Ubuntu", sans-serif;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
/*navbar class menu list link*/
.navbar .menu li a {
  color: #fff;
}
